
.title-dialog{
    text-align: center;
}
  
.dialog-actions {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #bcd8c1;
    width: 35%;
    display: block;
    padding: 2%;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }