.container-table{
    margin-top: 30% !important;
}

.container-text-center{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.title-table{
    text-align: center !important;
    padding-top: 10%;
}